## Artificial Neural Network

In [1]:
# Part 1 - Data Preprocessing
# Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
os.chdir('E:\\prasad\\practice\\Deep Learning-29-12-20\\Churn Modelling')

In [3]:
# Importing the dataset
df=pd.read_csv('Churn_Modelling.csv')

In [4]:
df.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [5]:
df.shape

(10000, 14)

In [6]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [8]:
cat_var=df.select_dtypes(include=['object'])

In [9]:
cat_var.head(2)

    Surname Geography  Gender
0  Hargrave    France  Female
1      Hill     Spain  Female

In [10]:
df.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [11]:
df.Surname.unique()

array(['Hargrave', 'Hill', 'Onio', ..., 'Kashiwagi', 'Aldridge',
       'Burbidge'], dtype=object)

In [12]:
X=df.iloc[:,3:13]
X.head(2)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58

In [13]:
y=df.iloc[:,-1:]
y.head(2)

   Exited
0       1
1       0

In [14]:
#Create dummy variables
geography=pd.get_dummies(df['Geography'],drop_first=True)
gender=pd.get_dummies(df['Gender'],drop_first=True)

In [15]:
geography.head(2)

   Germany  Spain
0        0      0
1        0      1

In [16]:
gender.head(2)

   Male
0     0
1     0

In [17]:
## Concatenate the Data Frames
X=pd.concat([X,geography,gender],axis=1)

In [18]:
X.head(2)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0

In [19]:
## Drop Unnecessary columns
X.drop(['Geography','Gender'],axis=1,inplace=True)

In [20]:
X.head(2)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0

In [21]:
X.shape

(10000, 11)

### Splitting the dataset into the Training set and Test set

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [24]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((8000, 11), (2000, 11), (8000, 1), (2000, 1))

### Feature Scaling

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
sc=StandardScaler()

In [27]:
X_train_sc=sc.fit_transform(X_train)
X_test_sc=sc.fit_transform(X_test)

In [28]:
X_train_sc.shape,X_test_sc.shape

((8000, 11), (2000, 11))

In [29]:
X_train=pd.DataFrame(X_train_sc,columns=X_train.columns)
X_test=pd.DataFrame(X_test_sc,columns=X_test.columns)

In [30]:
X_train.head(2)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,0.356500,-0.655786,0.345680,-1.218471,0.808436,0.649203,0.974817,1.367670,-0.579467,-0.576388,0.913248
1,-0.203898,0.294938,-0.348369,0.696838,0.808436,0.649203,0.974817,1.661254,1.725723,-0.576388,0.913248

In [31]:
X_test.head(2)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,-0.512502,-0.677299,-0.698445,0.300846,0.805105,-1.578101,-1.050262,-0.990969,1.736682,-0.563492,0.909112
1,-0.236047,0.384298,-1.380355,-1.255997,0.805105,0.633673,0.952144,0.829379,-0.575811,-0.563492,0.909112

### Part 2 - Now let's make the ANN!

In [32]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,ELU,PReLU
from keras.layers import Dropout

In [33]:
# Initialising the ANN
model=Sequential()

In [34]:

# Adding the input layer and the first hidden layer
model.add(Dense(units=6, kernel_initializer='he_uniform',activation='relu',input_dim = 11))
#Adding Droupout layers
model.add(Dropout(0.2))

# Adding the Second hidden layer
model.add(Dense(units=6, kernel_initializer='he_uniform',activation='relu'))
model.add(Dropout(0.3))

# Adding the Third hidden layer
model.add(Dense(units=6, kernel_initializer='he_uniform',activation='relu'))
model.add(Dropout(0.2))

# Adding the Output layer
model.add(Dense(units=1, kernel_initializer='glorot_uniform',activation='sigmoid'))

In [35]:
# Compiling the ANN
model.compile(
    optimizer='Adam',
    loss='binary_crossentropy',
    metrics=['accuracy'])

In [36]:
# Fitting the ANN to the Training set
model_history=model.fit(
    X_train,y_train,
     batch_size=10,
    epochs=100,
    validation_split=0.33)

Epoch 1/100
536/536 [==============================] - 4s 5ms/step - loss: 1.1545 - accuracy: 0.4855 - val_loss: 0.5238 - val_accuracy: 0.7910
Epoch 2/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5568 - accuracy: 0.7647 - val_loss: 0.5110 - val_accuracy: 0.7910
Epoch 3/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5252 - accuracy: 0.7945 - val_loss: 0.5050 - val_accuracy: 0.7910
Epoch 4/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4920 - accuracy: 0.8105 - val_loss: 0.4982 - val_accuracy: 0.7910
Epoch 5/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5062 - accuracy: 0.7993 - val_loss: 0.4868 - val_accuracy: 0.7906
Epoch 6/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7929 - val_loss: 0.4705 - val_accuracy: 0.7925
Epoch 7/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4877 - accuracy: 0.8012 - val_loss: 0.4604 - val_accuracy: 0.7997
Epoch 8/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4664 - accuracy: 0.8107 - val_loss: 0.4563 - val_accuracy: 0.7989
Epoch 9/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4756 - accuracy: 0.7987 - val_loss: 0.4490 - val_accuracy: 0.8042
Epoch 10/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4674 - accuracy: 0.8089 - val_loss: 0.4459 - val_accuracy: 0.8065
Epoch 11/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4673 - accuracy: 0.8014 - val_loss: 0.4479 - val_accuracy: 0.8039
Epoch 12/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4496 - accuracy: 0.8142 - val_loss: 0.4420 - val_accuracy: 0.8069
Epoch 13/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4520 - accuracy: 0.8111 - val_loss: 0.4381 - val_accuracy: 0.8080
Epoch 14/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4442 - accuracy: 0.8130 - val_loss: 0.4357 - val_accuracy: 0.8084
Epoch 15/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4667 - accuracy: 0.7987 - val_loss: 0.4335 - val_accuracy: 0.8035
Epoch 16/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4568 - accuracy: 0.8056 - val_loss: 0.4279 - val_accuracy: 0.8103
Epoch 17/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4403 - accuracy: 0.8158 - val_loss: 0.4223 - val_accuracy: 0.8141
Epoch 18/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4256 - accuracy: 0.8148 - val_loss: 0.4188 - val_accuracy: 0.8175
Epoch 19/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4365 - accuracy: 0.8113 - val_loss: 0.4166 - val_accuracy: 0.8118
Epoch 20/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4321 - accuracy: 0.8174 - val_loss: 0.4084 - val_accuracy: 0.8258
Epoch 21/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4168 - accuracy: 0.8225 - val_loss: 0.4107 - val_accuracy: 0.8186
Epoch 22/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4220 - accuracy: 0.8227 - val_loss: 0.4061 - val_accuracy: 0.8228
Epoch 23/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4134 - accuracy: 0.8288 - val_loss: 0.4017 - val_accuracy: 0.8270
Epoch 24/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4170 - accuracy: 0.8246 - val_loss: 0.4053 - val_accuracy: 0.8171
Epoch 25/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4136 - accuracy: 0.8237 - val_loss: 0.3909 - val_accuracy: 0.8334
Epoch 26/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4090 - accuracy: 0.8328 - val_loss: 0.3918 - val_accuracy: 0.8334
Epoch 27/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4197 - accuracy: 0.8274 - val_loss: 0.3858 - val_accuracy: 0.8379
Epoch 28/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4065 - accuracy: 0.8405 - val_loss: 0.3864 - val_accuracy: 0.8357
Epoch 29/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4071 - accuracy: 0.8400 - val_loss: 0.3850 - val_accuracy: 0.8402
Epoch 30/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3963 - accuracy: 0.8384 - val_loss: 0.3902 - val_accuracy: 0.8326
Epoch 31/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4119 - accuracy: 0.8271 - val_loss: 0.3815 - val_accuracy: 0.8398
Epoch 32/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3761 - accuracy: 0.8496 - val_loss: 0.3796 - val_accuracy: 0.8482
Epoch 33/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3885 - accuracy: 0.8418 - val_loss: 0.3830 - val_accuracy: 0.8391
Epoch 34/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4072 - accuracy: 0.8339 - val_loss: 0.3778 - val_accuracy: 0.8478
Epoch 35/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3877 - accuracy: 0.8384 - val_loss: 0.3820 - val_accuracy: 0.8387
Epoch 36/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4109 - accuracy: 0.8221 - val_loss: 0.3836 - val_accuracy: 0.8372
Epoch 37/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3965 - accuracy: 0.8336 - val_loss: 0.3803 - val_accuracy: 0.8432
Epoch 38/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3954 - accuracy: 0.8372 - val_loss: 0.3791 - val_accuracy: 0.8432
Epoch 39/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3932 - accuracy: 0.8380 - val_loss: 0.3752 - val_accuracy: 0.8451
Epoch 40/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4143 - accuracy: 0.8314 - val_loss: 0.3781 - val_accuracy: 0.8436
Epoch 41/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3947 - accuracy: 0.8388 - val_loss: 0.3766 - val_accuracy: 0.8448
Epoch 42/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3849 - accuracy: 0.8425 - val_loss: 0.3817 - val_accuracy: 0.8353
Epoch 43/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3864 - accuracy: 0.8371 - val_loss: 0.3777 - val_accuracy: 0.8417
Epoch 44/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4007 - accuracy: 0.8393 - val_loss: 0.3737 - val_accuracy: 0.8474
Epoch 45/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4034 - accuracy: 0.8305 - val_loss: 0.3771 - val_accuracy: 0.8421
Epoch 46/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3836 - accuracy: 0.8426 - val_loss: 0.3730 - val_accuracy: 0.8455
Epoch 47/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3955 - accuracy: 0.8391 - val_loss: 0.3746 - val_accuracy: 0.8425
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3981 - accuracy: 0.8290 - val_loss: 0.3775 - val_accuracy: 0.8376
Epoch 49/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3881 - accuracy: 0.8375 - val_loss: 0.3748 - val_accuracy: 0.8417
Epoch 50/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4151 - accuracy: 0.8222 - val_loss: 0.3737 - val_accuracy: 0.8436
Epoch 51/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4081 - accuracy: 0.8289 - val_loss: 0.3718 - val_accuracy: 0.8493
Epoch 52/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3993 - accuracy: 0.8329 - val_loss: 0.3728 - val_accuracy: 0.8459
Epoch 53/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3904 - accuracy: 0.8370 - val_loss: 0.3735 - val_accuracy: 0.8448
Epoch 54/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3891 - accuracy: 0.8379 - val_loss: 0.3705 - val_accuracy: 0.8504
Epoch 55/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3841 - accuracy: 0.8344 - val_loss: 0.3705 - val_accuracy: 0.8474
Epoch 56/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3880 - accuracy: 0.8425 - val_loss: 0.3712 - val_accuracy: 0.8463
Epoch 57/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3984 - accuracy: 0.8366 - val_loss: 0.3703 - val_accuracy: 0.8482

Epoch 58/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3853 - accuracy: 0.8332 - val_loss: 0.3729 - val_accuracy: 0.8402
Epoch 59/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3949 - accuracy: 0.8377 - val_loss: 0.3681 - val_accuracy: 0.8504
Epoch 60/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3989 - accuracy: 0.8337 - val_loss: 0.3677 - val_accuracy: 0.8482
Epoch 61/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3860 - accuracy: 0.8362 - val_loss: 0.3686 - val_accuracy: 0.8478
Epoch 62/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3903 - accuracy: 0.8419 - val_loss: 0.3705 - val_accuracy: 0.8455
Epoch 63/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4059 - accuracy: 0.8329 - val_loss: 0.3645 - val_accuracy: 0.8508
Epoch 64/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3806 - accuracy: 0.8449 - val_loss: 0.3641 - val_accuracy: 0.8542
Epoch 65/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3881 - accuracy: 0.8412 - val_loss: 0.3697 - val_accuracy: 0.8493
Epoch 66/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3788 - accuracy: 0.8471 - val_loss: 0.3723 - val_accuracy: 0.8448
Epoch 67/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3890 - accuracy: 0.8439 - val_loss: 0.3730 - val_accuracy: 0.8421
Epoch 68/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3771 - accuracy: 0.8386 - val_loss: 0.3719 - val_accuracy: 0.8516
Epoch 69/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3935 - accuracy: 0.8382 - val_loss: 0.3700 - val_accuracy: 0.8504
Epoch 70/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3777 - accuracy: 0.8427 - val_loss: 0.3693 - val_accuracy: 0.8455
Epoch 71/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3815 - accuracy: 0.8356 - val_loss: 0.3696 - val_accuracy: 0.8466
Epoch 72/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3862 - accuracy: 0.8411 - val_loss: 0.3655 - val_accuracy: 0.8504
Epoch 73/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3836 - accuracy: 0.8429 - val_loss: 0.3664 - val_accuracy: 0.8523
Epoch 74/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3849 - accuracy: 0.8380 - val_loss: 0.3683 - val_accuracy: 0.8527
Epoch 75/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3768 - accuracy: 0.8435 - val_loss: 0.3692 - val_accuracy: 0.8531
Epoch 76/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3780 - accuracy: 0.8450 - val_loss: 0.3667 - val_accuracy: 0.8538
Epoch 77/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3803 - accuracy: 0.8420 - val_loss: 0.3714 - val_accuracy: 0.8489
Epoch 78/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3892 - accuracy: 0.8308 - val_loss: 0.3704 - val_accuracy: 0.8485
Epoch 79/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3884 - accuracy: 0.8422 - val_loss: 0.3671 - val_accuracy: 0.8538
Epoch 80/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3893 - accuracy: 0.8344 - val_loss: 0.3660 - val_accuracy: 0.8519
Epoch 81/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4006 - accuracy: 0.8323 - val_loss: 0.3652 - val_accuracy: 0.8523
Epoch 82/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3943 - accuracy: 0.8369 - val_loss: 0.3687 - val_accuracy: 0.8485
Epoch 83/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3885 - accuracy: 0.8341 - val_loss: 0.3663 - val_accuracy: 0.8512
Epoch 84/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3653 - accuracy: 0.8495 - val_loss: 0.3688 - val_accuracy: 0.8519
Epoch 85/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4025 - accuracy: 0.8251 - val_loss: 0.3675 - val_accuracy: 0.8501
Epoch 86/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3751 - accuracy: 0.8431 - val_loss: 0.3702 - val_accuracy: 0.8504
Epoch 87/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3700 - accuracy: 0.8461 - val_loss: 0.3670 - val_accuracy: 0.8531
Epoch 88/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3898 - accuracy: 0.8370 - val_loss: 0.3705 - val_accuracy: 0.8512
Epoch 89/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3919 - accuracy: 0.8361 - val_loss: 0.3690 - val_accuracy: 0.8485
Epoch 90/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3926 - accuracy: 0.8323 - val_loss: 0.3699 - val_accuracy: 0.8504
Epoch 91/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3841 - accuracy: 0.8416 - val_loss: 0.3706 - val_accuracy: 0.8508
Epoch 92/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3879 - accuracy: 0.8410 - val_loss: 0.3702 - val_accuracy: 0.8497
Epoch 93/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3868 - accuracy: 0.8358 - val_loss: 0.3699 - val_accuracy: 0.8504
Epoch 94/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3865 - accuracy: 0.8349 - val_loss: 0.3679 - val_accuracy: 0.8516
Epoch 95/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3936 - accuracy: 0.8373 - val_loss: 0.3688 - val_accuracy: 0.8501
Epoch 96/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3794 - accuracy: 0.8433 - val_loss: 0.3695 - val_accuracy: 0.8523
Epoch 97/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3757 - accuracy: 0.8489 - val_loss: 0.3689 - val_accuracy: 0.8516
Epoch 98/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3973 - accuracy: 0.8347 - val_loss: 0.3691 - val_accuracy: 0.8504
Epoch 99/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4010 - accuracy: 0.8281 - val_loss: 0.3656 - val_accuracy: 0.8531
Epoch 100/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3846 - accuracy: 0.8398 - val_loss: 0.3680 - val_accuracy: 0.8519

### Part 3 - Making the predictions and evaluating the model

In [37]:
# Predicting the Test set results
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

In [38]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [39]:
cm

array([[1580,   27],
       [ 253,  140]], dtype=int64)

In [40]:
# Calculate the Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [41]:
score

0.86

### Save Model in h5

In [42]:
model.save('churn.h5')

### Load h5 Model

In [44]:
from keras.models import load_model

In [45]:
final_model=load_model('churn.h5')

In [46]:
y_pred_final=final_model.predict(X_test)

In [47]:
y_pred_final=y_pred_final>0.5

In [48]:
cm_final=confusion_matrix(y_test,y_pred_final)

In [49]:
cm_final

array([[1580,   27],
       [ 253,  140]], dtype=int64)

In [50]:
accuracy_score(y_test,y_pred_final)

0.86

In [52]:
final_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dropout (Dropout)            (None, 6)                 0
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dropout_1 (Dropout)          (None, 6)                 0
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dropout_2 (Dropout)          (None, 6)                 0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 163
Trainable params: 163
Non-trainable params: 0
_________________________________________________________________

In [53]:
final_model.get_weights()

[array([[-1.13079594e-02,  8.07670578e-02, -3.77648585e-02,
          5.71286082e-02,  1.55117288e-02, -1.06738240e-03],
        [ 6.16183057e-02, -1.01961172e+00, -4.84421737e-02,
         -5.59777498e-01, -1.14194250e+00,  5.10192871e-01],
        [ 7.02889040e-02, -1.14450648e-01, -9.36724767e-02,
          8.68413523e-02, -7.28167817e-02, -4.41899002e-02],
        [-8.46449733e-01, -3.70378315e-01,  3.26941460e-01,
         -1.92464128e-01, -4.73306417e-01,  4.49608862e-02],
        [-1.09318841e+00,  2.14953631e-01,  1.15957248e+00,
          2.41842140e-02,  1.03805564e-01, -1.51117012e-01],
        [-8.27140957e-02, -7.14915469e-02, -1.48401201e-01,
          4.04938124e-02, -1.90917537e-01,  7.70168565e-03],
        [-1.17067985e-01,  2.29403466e-01, -1.32916290e-02,
          1.64055407e-01,  2.94247627e-01, -1.12272835e+00],
        [ 3.93686853e-02,  8.19171034e-03,  3.32692228e-02,
          9.44439918e-02, -1.62910134e-01, -2.28353981e-02],
        [ 5.54190874e-01, -1.18245762e-02, -1.34419411e-01,
         -9.71131325e-01,  9.66536030e-02,  6.68679848e-02],
        [ 1.03464931e-01, -3.43080014e-02,  1.03255399e-01,
         -4.31412384e-02,  6.12772442e-02, -6.78413827e-03],
        [ 8.30681622e-03,  2.44594142e-01, -3.43409851e-02,
          2.79427767e-01,  3.02921325e-01, -4.47455235e-02]], dtype=float32),
 array([-0.50741667,  0.48449427, -1.5678561 , -0.04125894,  0.31680787,
        -1.3384037 ], dtype=float32),
 array([[ 0.30768603, -0.7433338 ,  0.260119  , -0.7787036 , -0.8203485 ,
         -0.75747204],
        [-0.31718642,  0.24085411, -0.45754895, -0.16211805,  0.21880978,
          0.589829  ],
        [ 1.4814138 , -1.3510908 ,  1.3496214 , -0.6754932 , -0.9510594 ,
         -1.1296088 ],
        [-0.13713837,  0.19907011, -0.19659382,  0.45016146,  0.26306388,
          0.12220912],
        [-0.35288465,  0.22207357, -0.4348002 ,  0.29298523,  0.45803455,
         -0.21503918],
        [ 1.2755979 , -0.32843167,  0.9234429 , -0.51915884, -0.14820041,
         -0.28953654]], dtype=float32),
 array([-0.03608203,  0.04790837, -0.01774574, -0.00436229,  0.06460164,
         0.0487389 ], dtype=float32),
 array([[ 1.0026672 ,  0.38067442, -1.5401307 , -0.9011574 , -0.46455684,
         -1.1404854 ],
        [-0.5660277 , -1.5857611 ,  1.4449533 , -0.10705137, -0.86493355,
          0.56254673],
        [-0.7975256 ,  0.51799893, -1.190288  , -0.5168047 ,  1.0039955 ,
         -0.761825  ],
        [-0.23978564, -1.9856459 ,  1.7048944 , -0.21154499, -0.43953454,
          0.5245857 ],
        [-0.4266801 , -1.0982915 ,  0.5389844 , -0.66939116, -0.39261112,
          0.33610684],
        [-1.0206906 , -1.5809709 ,  0.90654093, -0.6974008 , -0.40742108,
          0.49236172]], dtype=float32),
 array([0.08840874, 0.47713366, 0.2939749 , 0.        , 0.17329949,
        0.20551477], dtype=float32),
 array([[ 0.9173606 ],
        [ 0.7075221 ],
        [-0.23573348],
        [-0.69478446],
        [ 1.0465399 ],
        [-0.5220564 ]], dtype=float32),
 array([-1.3715078], dtype=float32)]

In [55]:
final_model.optimizer